<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Contact Form</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
    crossorigin="anonymous">
  <style>
    body {
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin: 0 auto;
      max-width: 600px;
    }

    .input-group-prepend {
      position: relative;
    }

    .dropdown-menu {
      width: 600px;
      position: absolute;
      will-change: transform;
      top: 0px;
      left: -442px;
      transform: translate3d(0px, 38px, 0px);
    }

    .dropdown-item {
      cursor: pointer;
    }

    .error {
      border: 1px solid red;
    }
  </style>
</head>

<body>
  <div id="contact-form">
    <input type="text" class="form-control" placeholder="Имя" v-model="name" id="name" v-bind:class="nameValError">
    <input type="tel" class="form-control" placeholder="Телефон" v-model="phone" id="phone" v-bind:class="phoneValError">
    <input type="email" class="form-control" placeholder="e-mail" v-model="email" id="email" v-bind:class="emailValError">
    <div class="input-group">
      <input type="text" class="form-control" aria-label="Text input with dropdown button" placeholder="Введите название города"
        v-on:keyup="searchCities" v-model="cityName">
      <div class="input-group-prepend show">
        <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"
          v-on:click="openDropdown">Выберите город</button>
        <div class="dropdown-menu show" x-placement="bottom-start" v-show="inputFocused">
          <a class="dropdown-item" v-for="city in cities" v-on:click="choiceTheCity(city.matching_full_name)">{{city.matching_full_name}}</a>
        </div>
      </div>
    </div>
    <input type="text" class="form-control" placeholder="Текст" id="text">
    <button type="submit" class="btn btn-secondary" v-on:click="validate">Отправить</button>
    <div v-bind:class="messageClass">{{messageText}}</div>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
  <script src="contact-form.js"></script>
</body>

</html>